.main_page {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

.result_info {
    grid-column: 1 / -1;
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 10px;
    width: 100%;
}